@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .header {
    width: min(70vw, 300px);
    height: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 10px 0;
  }

  .header__logo {
    flex-direction: row-reverse;
    margin-bottom: 10px;
  }

  .header__logo img {
    width: 55px;
  }

  .nav__toggle-btn {
    display: none;
  }

  .nav {
    height: 100%;
  }

  .nav__menu {
    position: relative;
    left: 0;
    visibility: visible;
    height: 100%;
    background-color: var(--zumpy-blue);
    border-top: solid 1px var(--dark-white);
  }

  .nav__list {
    margin-top: 10px;
  }

  .content {
    padding: 0 0 0 min(70vw, 300px);
  }
}

@media (min-width: 960px) {
}

@media (min-width: 1200px) {
}
