.root {
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 0 var(--tiny-padding);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.icon-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--huge-font-size);
  color: var(--white-color);
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0 0 auto 0;
  background-color: var(--zumpy-blue);
  z-index: 7;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: var(--medium-gap);
  position: relative;
  font-size: clamp(var(--large-font-size), 3vw, var(--extra-large-font-size));
  z-index: 8;
}

.header__logo::before {
  content: 'Central de Ajuda';
  display: block;
  font-weight: var(--large-font-weight);
  color: var(--white-color);
}

.header__logo img {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.mobile-buttons {
  display: inline-flex;
  gap: var(--medium-gap);
  position: relative;
  z-index: 7;
}

.nav__menu {
  height: calc(100vh - 80px);
  width: min(70vw, 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: auto auto 0 -100%;
  visibility: hidden;
  transition: 500ms;
  background-color: var(--zumpy-blue);
  z-index: 6;
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
}

.nav__menu--display {
  left: 0;
  visibility: visible;
}

.nav__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.nav__item {
  width: 100%;
}

.nav__link {
  width: 100%;
  padding: var(--medium-padding);
  border: none;
  outline: none;
  font-size: var(--large-font-size);
  color: var(--white-color);
  cursor: pointer;
  background: none;
  text-align: start;
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
}

.nav__link:hover {
  background-color: var(--translucent-gray);
}

.nav__link--current {
  background-color: var(--dark-white);
  color: var(--zumpy-blue);
}

.nav__link--current:hover {
  
  background-color: var(--dark-white);
}

.search__inpt {
  width: 100%;
  padding: var(--tiny-padding);
  font-size: var(--large-font-size);
  border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
}

.search__btn {
  padding: var(--tiny-padding);
  font-size: var(--big-font-size);
  border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
  cursor: pointer;
}

.search__inpt,
.search__btn {
  outline: none;
  border: solid 1px var(--light-gray);
}

.search__inpt:focus {
  border-color: orange;
}

.search__btn:hover {
  background-color: orange;
}

.nav__search {
  width: 100vw;
  display: inline-flex;
  position: absolute;
  inset: -100% auto auto 0;
  z-index: 1;
  visibility: hidden;
  transition: 500ms;
  padding: var(--tiny-padding);
  background-color: var(--zumpy-blue);
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
}

.nav__search--display {
  top: 80px;
  visibility: visible;
}

.content {
  height: 100vh;
  padding: calc(80px + var(--medium-padding)) var(--medium-padding)
    var(--medium-padding);
  font-size: var(--large-font-size);
  overflow-y: auto;
  background-color: var(--dark-white);
  color: var(--dark-gray);
}
